[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length = 150

[{.prettierrc,.babelrc,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[{Makefile.*,makefile,Makefile,GNUmakefile,*.mk}]
indent_style=tab
tab_width=4

[*.csv]
indent_style=tab
tab_width=1

[{*.tab,*.tsv}]
indent_style=tab
tab_width=1

[{*.config,*.rel}]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{*.cjs,*.js}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[{*.coffee,*.cjsx}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

